img{
	width: 1355px;
	height: 570px;
}
.nascd{
	background-color: rgba(52,44,32,0.7);
	color: black;
}
hr{
	color: black;
}
.html{
	font-size: 126px;
	color: orange;
}
body{
	font-family: 'Muli', sans-serif;
}
.css{
	font-size: 126px;
	color: blue;
}
.jv{
	font-size: 126px;
	color: yellow;
}